   body {
      font-family: Arial, sans-serif;
      padding: 15px;
      max-width: 600px;
      margin: auto;
      text-align: center;
    }
    h2 {
      margin-bottom: 10px;
    }
    #preview {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 20px;
    }
    #preview img {
      border: 1px solid #ddd;
      padding: 6px;
      border-radius: 10px;
      max-width: 64px;
      max-height: 64px;
    }
    button {
      padding: 10px 18px;
      border-radius: 8px;
      font-size: 16px;
      cursor: pointer;
      margin-top: 15px;
      background-color: #0a84ff;
      color: white;
      border: none;
      transition: background-color 0.3s ease;
    }
    button:hover {
      background-color: #065ecf;
    }
    #downloadICO {
      display: none;
      margin-top: 10px;
    }
    #installBtn {
      display: none;
      margin-top: 25px;
      background-color: #28a745;
    }
    #installBtn:hover {
      background-color: #1e7e34;
    }
    #output {
      margin-top: 15px;
      font-weight: bold;
    }